.cat-card-1 {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-image: url("../public/images/cat-health.jpg");
}


.cat-title {
    text-shadow: 0 0 5px #ffffff;
}

.cat-page {
    margin: 2rem;
}

.cat-card-2 {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-image: url("../public/images/cat-lingkungan.jpg");
}

.cat-card-3 {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-image: url("../public/images/cat-type.jpg");
}

.cat-head {
    text-align: center;
}
